* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}

.empty {
    height: 150px;
    width: 150px;
    border: 3px solid black;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: 5px solid #ccc;
}

.hovered {
    background-color: rgb(70, 70, 70);
    border-color: #fff;
    border-style: dotted;
}